<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{"yyyy-MM-dd HH:mm:ss,SSS"} [%-5p] %C{1}.%M:%L | %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.hong.spring" level="DEBUG" />

	<logger name="org.springframework.jdbc" level="WARN" />
	<logger name="org.springframework.tx" level="WARN" />
	
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.beans" level="INFO" />
	<logger name="org.springframework.web.servlet" level="INFO" />
	<logger name="org.springframework.web.multipart.support" level="INFO" />
	<logger name="org.springframework.security" level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="console" />
	</root>

</configuration>